@font-face {
  font-family: score;
  src: url('../../fonts/3DIsometricBlack-BWPPG.ttf');
}

@font-face {
  font-family: user;
  src: url('../../fonts/CollegiateheavyoutlineMedium-B0yx.ttf');
}

.borderScore {
  border: 3px double white;
  border-radius: 10%;
  box-shadow: 3px 3px #888;
  margin: 10px;
  padding: 5px 10px;
}

.user {
  font-family: user , sans-serif;
  font-size: xx-large;
}

.score {
  font-family: score , sans-serif;
  font-size: xx-large;
}
